#root {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  min-height: 100vh;
}

*{
  margin: 0;
  padding: 0;
}

.Logo {
  height: 100px;
  width: 100px;
  fill: white;
  padding: 20px;
}

body { 
  margin: 0;
  padding: 0;
  background: repeating-linear-gradient(135deg, #47286c 0%, #3d42a4 40%, #47286c 80%);
  transition: 0.5s;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

button{
  border: none;
  cursor: pointer;
  background: none;
}


/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {

} 

