.grey-box {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 10px;
    width: calc(80vw - 20px);
    height: calc(90vh - 20px);
    position: absolute;
    left: 0;
    bottom: 0;
}

.displayArtists {
    margin: 2vw;
    width: 95vw;
    padding-bottom: 50px;
    position: relative;
    top: 50px;
    border-radius: 2vw;
    bottom: 0;
}

.Playlist-Image {
    object-fit: cover;
    border-radius: 2vw;
    width: calc(200px);
}

.Playlist-Title {
    display: flex;
    margin: 20px;
    gap: 20px;
}

.Song {
    display: flex;
    gap: 20px;
    margin: 20px;
    flex-direction: row;
    height: 100px;
}

.Song-Image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 2vw;
    transition: 0.3s;
}

.Song h3 {
    transition: 0.3s;
}

button:hover .Song .Song-Image, button:hover .Song h3{
    transform: scale(1.15);
  }

.Song-List {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.Song-List button {
    width: 300px;
    flex-grow: 1;
}

.displayArtistImage {
    height: 200px;
    width: 200px;
    margin: 30px;
    border-radius: 20px;
}