.statview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  right: 0;
  margin-right: 50px;
}

.statview ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.statview ul li {
  margin: 0.5rem 0;
  color: white;
  font-size: 20px;
}
